.BootcampsPage {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 6rem;
    padding-right: 6rem;
    margin: 0;
    background-color: rgba(152, 155, 155, 0.171);
}

.content {

    padding: 0rem 3rem 0rem;
    color: #fff;
    background-color: #dddddd0e;
    line-height: 2rem;
    flex: 1;
}


.BootcampsPage h1,
.BootcampsPage h2,
.BootcampsPage h3,
.BootcampsPage h4,
.BootcampsPage h5,
.BootcampsPage h6 {
    font-family: 'vg5000_regularregular';
    color: #455a64;
}

.BootcampsPage p,
.BootcampsPage Link,
.BootcampsPage a,
.BootcampsPage button {
    font-family: "Rethink Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.BootcampsPage p {
    padding: 0;
    font-size: 1.3rem;
}

.top_page {

    width: 100%;
    height: 110vh;
    background: linear-gradient(45deg, #02eeff, #0395f7, #0515f3, #f500d4, #b700ff);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center;




}



@keyframes color {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 50% 100%;
    }
}


.bg-text {

    background-color: rgba(0, 0, 0, 0.4);
    width: 90%;
    height: auto;
    border-radius: 10px;
    padding: 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-text h1 {
    position: relative;
    top: 25%;
    color: transparent;
    display: inline-block;
    font-size: 6rem;
}

.bg-text h2 {
    position: relative;
    top: 25%;
    color: transparent;
    white-space: pre-wrap;
    word-wrap: break-word;


}

#title-techbtc::before,
#title-techbtctwo::before {
    content: attr(data-text-one);
    position: absolute;
    color: #fff;
    width: 100%;
    white-space: nowrap;
    border-right: 2px solid transparent;
    filter: drop-shadow(0 0 20px #fff);
}


#title-techbtc::before{
    animation: title-animation 2s linear 1;
}

#title-techbtctwo::before {
    content: attr(data-text-two);
    animation: title-animation-two 1s linear 1;
    animation-delay: 2s;

}

@keyframes title-animation {

    0% {
        clip-path: inset(0 100% 0 0);
    }

    100% {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes title-animation-two {

    0% {
        clip-path: inset(0 100% 0 0);
    }

    100% {
        clip-path: inset(0 0 0 0);
    }
}




.block p,
.block1 p {
    font-size: 18px;
    padding: 0;
}

.block1 h5 {
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-weight: 18px;
    font-size: x-large;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.block {
    color: black;

}



.block1 {

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: black;

}




.glow::after,
.glow1::after {
    filter: blur(5px);
}

@keyframes animate-box {
    0% {
        background-position: 0 0;

    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}


.Title h2 {
    background: linear-gradient(45deg, #05ebcc, #0493f1, #0661e9, #be06ec, #DF2639, #DF2639);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 2.5rem;
    margin-top: 2rem;
}

.cube-image {
    width: 50px;
    height: 50px;
}

p {
    margin-top: 2%;
}

.carousel_content {
    width: 70%;
    margin-left: 15%;
    margin-bottom: 1rem;
}

.cube-image {
    width: 50px;
    height: 50px;
}

p {
    margin-top: 2%;
}

.carousel_content {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1rem;
}





.flex-1 {
    flex: 1;
}

.between {
    display: flex;
    align-items: center;
    gap: 4rem;
    padding: 1rem;
}

.image {
    width: 90%;
    height: 80%;
}

.tech-btc-section-4 {
    display: flex;
    gap: 4rem;
    align-items: center;
}


.section-7 {
    display: flex;
    align-items: center;
    gap: 4rem;
    width: 100%;
}

.row-section-7 {

    display: flex;
    gap: 3rem;
}
.BootcampsPage .btn{
    margin: 0;
}
.row-btns{
    display: flex;
    gap: 0.5rem;

}

@media (min-width: 1000px) and (max-width: 1412px) {

    .bg-text {
        top: 20%;
        height: auto;
    }

    .bg-text h1 {
        top: 15%;
    }

    .bg-text h2 {
        top: 15%;
        text-align: center;
        white-space: normal;
        animation: none;
    }

    

    .top_page {
        height: 100vh;
        padding-top: 4rem;
    }

    .carousel_content {
        width: 100%;
        margin-left: 0;
    }

    .block,
    .block1 {
        margin: 5% auto 0;
        width: 90%;

    }

    .block1 {
        height: 275px;
    }

    .image {
        width: 90%;
    }

    .carousel_content {
        margin: 0 auto;
        margin-bottom: 1rem;
    }

    .content {
        margin-top: 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .rating {
        width: 100%;
        display: flex;
        flex-direction: row;
    }




    .BootcampsPage .btn {
        width: 130px;
    }



    .section-7 {
        display: flex;
        align-items: center;
        gap: 4rem;
        width: 100%;
    }

    .row-section-7 {
        text-align: none;
        display: flex;
        gap: 3rem;
    }

}



@media (min-width: 993px) and (max-width: 1160px) {
    .bg-text {
        top: 20%;
        height: auto;
    }

    .Title h2 {
        line-height: 2;
    }


    .bg-text h2 {
        text-align: center;
        white-space: normal;
        animation: none;
    }

    .top_page {
        height: 100vh;
        padding-top: 4rem;
        margin-bottom: 0;
    }

    .carousel_content {
        width: 100%;
        margin-left: 0;
    }

    .between {
        flex-direction: column;
        gap: 2rem;
        text-align: center;
    }

    .block,
    .block1 {
        margin: 5% auto 0;
        width: 90%;

    }

    .block1 {
        height: 275px;
    }

    .image {
        height: auto;
    }

    .carousel_content {
        margin: 0 auto;
        margin-bottom: 1rem;
    }

    .content {
        margin-top: 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



    .rating {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .section5,
    .section6,
    .section9 {
        display: flex;
        flex-direction: column;
    }

    .text-in-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .BootcampsPage .btn {
        width: 130px;
    }

}



@media (min-width: 481px) and (max-width: 992px) {
    .bg-text {
        top: 35%;
        height: auto;
    }

    .bg-text h1 {
        top: 1rem;
        font-size: 8vw;
    }

    .bg-text h2 {
        font-size: 4vw;
        text-align: center;
        white-space: normal;
        animation: none;
    }

    .top_page {
        height: 100vh;
        padding-top: 4rem;
    }

    .carousel_content {
        width: 100%;
        margin-left: 0;
    }

    .between {
        flex-direction: column;
        gap: 2rem;
        text-align: center;
    }

    .block,
    .block1 {
        margin: 5% auto 0;
        width: 90%;

    }

    .block1 {
        height: 275px;
    }

    .image {
        height: auto;
    }

    .carousel_content {
        margin: 0 auto;
        margin-bottom: 1rem;
    }
    .BootcampsPage{
        padding-left: 3rem;
        padding-right: 3rem;
        text-align: center;

    }
    
    .BootcampsPage a{
        width: 130px;
    }


    .rating {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .section5,
    .section6,
    .section9 {
        display: flex;
        flex-direction: column;
    }

    .text-in-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .BootcampsPage .btn{
        width: 130px;
        margin: 0 auto;
    }

    .image-one{
        width: 100%;
        height: 100%;
    }

    .row-section-7 {
        
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .row-section,.section-7{
        flex-direction: column;
    }
    .tech-btc-section-4 {
        display: flex;
        flex-direction: column;

    }

    .row-btns{
        flex-direction: column;
        margin: auto;
    
    }

}

@media (max-width: 480px) {
    .bg-text {
        width: 90%;
        top: 35%;
        left: 55%;
        height: auto;
    }

    .bg-text h1 {
        top: 1rem;
        font-size: 8vw;
    }

    .bg-text h2 {
        font-size: 4vw;
        text-align: center;
        white-space: normal;
        animation: none;
    }

    .top_page {
        height: 100vh;
        padding-top: 4rem;
    }

    .carousel_content {
        width: 100%;
        margin-left: 0;
    }

    .between {
        flex-direction: column;
        gap: 2rem;
        text-align: center;
    }

    .block,
    .block1 {
        margin: 5% auto 0;
        width: 90%;

    }

    .block1 {
        height: 275px;
    }

    .image {
        height: auto;
    }

    .carousel_content {
        margin: 0 auto;
        margin-bottom: 1rem;
    }
    .BootcampsPage{
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
    }
    
    .BootcampsPage a{
        width: 130px;
    }


    .rating {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .section5,
    .section6,
    .section9 {
        display: flex;
        flex-direction: column;
    }

    .text-in-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .btn {
        width: 130px;
        margin: 0 auto;
    }

    .image-one{
        width: 100%;
        height: 100%;
    }

    .row-section-7 {
        
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .row-section,.section-7{
        flex-direction: column;
    }
    .tech-btc-section-4 {
        display: flex;
        flex-direction: column;

    }

    .row-btns{
        flex-direction: column;
        margin: auto;
    }
    
}